@(users: List[(Int, String, String, String, String, String, String)])
@*
@(user: User)

<p>Your name: @user.firstName @user.lastName</p>

<p>Email: @user.email</p>

<p>Phone: @user.phone</p>

<p>Company: @user.company</p>

<p>Username: @user.username</p>

<p>Password: @user.password</p>
*@
<html ng-app="myApp">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-3.3.2/css/bootstrap.min.css")" type="text/css">

        <script src="@routes.Assets.at("javascripts/external/angular/angular-v1.3.14.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controllers/homeController.js")" type="text/javascript"></script>

    </head>
    <body ng-controller="HomeController">
        <div class="container">

            <ul class="nav nav-tabs">
                <li ng-class="{active: selectedItem == 'dashboard'}"><a href="" ng-click="selectedItem = 'dashboard'">
                    Dashboard</a></li>
                <li ng-class="{active: selectedItem == 'users'}"><a href="@routes.UserController.getUsers" ng-click="selectedItem = 'users'">
                    Users</a></li>
                <li ng-class="{active: selectedItem == 'contact'}"><a href="" ng-click="selectedItem = 'contact'">
                    Contact</a></li>
            </ul>

            <div>
                <h3>Welcome to home!</h3>
            </div>

            <br/>

            <div class="">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Company</th>
                            <th>User Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    @users.map {
                        case (id, firstName, lastName, email, phone, company, username) => {
                            <tr>
                                <td>@id</td>
                                <td>@firstName</td>
                                <td>@lastName</td>
                                <td>@email</td>
                                <td>@phone</td>
                                <td>@company</td>
                                <td>@username</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>